body{
    margin:0 !important;
    padding:0 !important;
    width:100%;
    height:100% !important;
}
.container-fluid{
    margin:0 !important;
    padding:0 !important;
}
.card {  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px !important;
    margin: auto;
    text-align: center;
    font-family: arial;
    -webkit-transition: all .2s ease-in-out;
}
.card:hover{
    cursor: pointer;
    /* border: 2px solid grey; */
    box-shadow: 0px 30px 100px -10px rgba(213, 213, 221, 0.4);
    /* -webkit-transition: all .5s ease-in-out;
    -webkit-transform: scale(1.03); */
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}
.card .btn-style {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(243, 9, 9);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}

.card button:hover {
  opacity: 0.7;

}

ul li {
  list-style: none;
}

hr {
  width: 100%;
  height: 200px;
}

#spec {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
/*>>>>>>>>>>>>>>>>>>>>>*/

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
  
  
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
/*<<<<<<<<<<<<FONT>>>>>>>>>>>>>>>*/
.font-righteous{
    font-family: 'Righteous', cursive;
    font-weight: bold;   
}
.font-montserra{
    font-family: 'Montserrat', sans-serif;    
}
.font-kaushan{
    font-family: 'Kaushan Script', cursive;    
}
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<*/
.login{   
    height:100vh;
    background-color:rgb(255, 254, 254);
}

.gradient{
    background: linear-gradient(90deg, rgb(92, 221, 193) 15%, rgba(0,219,255,1) 100%);
}

