/************************************/
/*      All CSS about Bascket       */
/************************************/

.header-article{
    display: flex;
   justify-content: space-between;
}

.content-article{
    width: 100%;
    height: 110px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.total-article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photo{
    display: flex;
    width: 100px;
    height: 100px;
    line-height: 100px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.photo img {
  max-width: 150px;
}

.imageProduct{
    height: 95px;
    width: 95px;
}
.titre{
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.sm{
    height: 25px;
    width: 100px;
}
.prix{
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: right;
}
/* a{
    color:white
} */

.choiceUser{
    display: flex;
    justify-content: space-around;
}
.flex{
    width: auto;
}
.radio{
    margin-left: 5px;
}